$radiusBasic: 5px;
$clrBodyBg: #2e2e2e;
$clrLink: #017ac6; //#4f79f7;
$clrBtnMajor: $clrLink;
$clrCalloutBg: #cc0000;
$clrCalloutFg: white;
$clrHoverLightenPercent: 15%;
$interiorMargin: 0.6em;
$interiorMarginLg: $interiorMargin * 2;
$navH: 65px;
$padNavElem: 16px;
$marginH: 32px;
$marginV: 48px;
$marginVSm: 32px;

/********************************** PAGE COLORS */
$clrPgAbout: #c84542;