html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-spacing: normal;
    margin: 0;
    padding: 0;
}

div, li {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    line-height: 1;
    margin-top: 0;
    margin-bottom: $interiorMargin;
}

iframe {
    border: none;
    display: block;
}

p, ol {
    margin: 0 0 $interiorMargin 0;
}

ol {
    margin-left: 0;
}

ul:not(.bullets) {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
